*.DS_Store
*history
.RData*
*.snakemake

*.gtf*
*.fa*
*.RData

annotation/
index/
orig_sim/
software/

*defunct/

*_files/
*_cache/

geuvadis/results
geuvadis/sims
geuvadis/tmp
geuvadis/img

marguerat/results
marguerat/abs_counts
marguerat/metadata

# do not ignore these files
!*Snakefile
